{% extends 'base.html' %}
{% block content %}
    
    <div class="container my-5 py-5">
        {% if not message %}
        <h1>Create Student</h1>
        <h2>Hello {{ user }}</h2>
        <form method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">NAME</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter NAME">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">SURNAME</label>
                <input type="text" name="surname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter SURNAME">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">GENDER</label>
                <input type="text" name="gender" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter GENDER">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">STATUS</label>
                <input type="text" name="status" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter STATUS">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">BIO</label>
                <input type="text" name="bio" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter BIO">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        {% else %}
        <p>{{ message }}</p>
        <a class="navbar-brand text-info" href="{{ url_for('create_student') }}">Register new students</a>
    </div>
    {% endif %}
{% endblock content %}