{% extends 'base.html' %}
{% block content %}
  <div class="container">

    <h1 class="py-5 my-5 text-center">Hello {{ user }}</h1>
    <table class="table">
      {% if student_count %}
        <p>{{ student_count }} students founded!</p>
      {% endif %}
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Gender</th>
          <th scope="col">Status</th>
          <th scope="col">Bio</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for i in students %}
          <tr>
            <th scope="row"><a href="/students/{{ i.id }}">{{ i.id }}</a></th>
            <td><img style="width: 120px; height: 80px;" src="{% if i.image == "some image path" %}https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg{% else %}{{ i.image }}{% endif %}" alt=""></td>
            <td>{{ i.name }}</td>
            <td>{{ i.surname }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.status }}</td>
            <td>{{ i.bio }}</td>
            <td><a href="{{ url_for('update_student', id=i.id) }}">update me</a></td>
            <td><a href="{{ url_for('delete_student', id=i.id) }}">delete me</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}